body { margin:auto; 
  position:relative; right:100px;
  background-color: black;}
  h1 {
    color: #ff83f9;
  font-family:Arial, Helvetica, sans-serif;
  margin: 100px;
width:100%;
height:auto;}
  p {
    color: #ff83f9;
  font-family:Arial, Helvetica, sans-serif;
  margin: 50px;}
 img {margin:auto}