body { margin: 250px;
  background-color: black;
margin-top;: static: top:10px left:0px;}
  h1 {
    color: #ff83f9;
  font-family:Arial, Helvetica, sans-serif;
  margin:125px}
  p {
    color: #ff83f9;
  font-family:Arial, Helvetica, sans-serif;
  margin: 256px;}